body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#calculator {
    margin-top: 50px;
}

input, select, button {
    margin: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
